<!-- <div class="owl-carousel owl-theme blog-post">
                        <h2> Collaborative Based Recommendation </h2>
                        {% for poster, movieInfo in CollaborativeCards.items() if not cards.hidden %}
                        <div class="blog-content" data-aos="fade-right" data-aos-delay="200">
                            <img src={{poster}} alt="Image is Not Available" />
                            <div class="blog-title">
                                <h2> {{movieInfo[0]}} </h2>

                                {% for genre in movieInfo[1] %}
                                <button class="btn btn-blog">{{genre}}</button>
                                {% endfor %} 

                                <span>{{ movieInfo[2] }}</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>  -->